---
layout: page
title: Directory
permalink: /directory/
headerTitle: INFORMACIÓN WEB
headerSubCopy: Contenido de Internet para el Deportista
custom_head_datatables: true
---

{% include global-header.html %}

<div class="container">
  <div class="row">
    <h3>Páginas Web destacadas y canales YouTube recomendados</h3>
    <!-- <p>A continuación, te mostrare las páginas y canales de YouTube con mas importancia para mi empresa.</p> -->
    <hr>
    <table class="table table-striped dataTable">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Tipo</td>
          <td>Dirección</td>
          <!-- <td>Gender</td>
          <td>Department</td> -->
        </tr>
      </thead>
      <tbody>
        {% for user in site.data.directory %}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{ user.web }}</td>
          <!-- <td>{{user.gender}}</td>
          <td>{{user.department | strip_html | truncatewords: 50 }}</td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include call-to-action.html %}