---
layout: page
title: Thank You!
permalink: /thankyou/
headerTitle: ¡Gracias!
headerSubCopy: Tu mensaje ha sido recibido, enseguida estamos contigo.
headerImage: ../gallery/thanks.png
---

{% include global-header.html %}


<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1><span class="text-success"><i class="fa fa-check-square-o" aria-hidden="true"></i> We'll get back to you
            shortly!</span></h1>
      </div>
      <div class="col-sm-6">
        <h3>You might want to checkout:</h3>
        <a href="/gallery" class="btn btn-default">Our Photo Gallery</a> - or -
        <a href="/#service" class="btn btn-default">Services We Offer</a>
      </div>
    </div>
  </div>
</section>

{% include call-to-action.html %}