---
layout: page
title: Home
permalink: /
custom_head_owl: true
custom_head_counterup: true
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">{{ site.data.home.title }}</h1>
          <p class="animated fadeInUp">{{ site.data.home.subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ site.data.home.intro-title }}</h2>
            <p>{{ site.data.home.intro-subtitle }}</p>
          </div>
          {{ site.data.home.intro-body | markdownify }}
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ site.data.home.intro-img }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="row">
    <div class="content col-md-6 col-md-offset-6">
      <h2>{{ site.data.home.feature-title }}</h2>
      <p>{{ site.data.home.feature-subtitle  | markdownify }}</p>
      <a href="#" class="btn btn-view-works">Start Planning</a>
    </div>
  </div>
</section>


<!-- Content Start -->

<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>{{ site.data.home.testimonial-title }}</h2>
        <p>{{ site.data.home.testimonial-subtitle }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="fa fa-heartbeat"></i>
                <h4><span class="counter">{{ site.data.home.pulsaciones }}</span> pulsaciones</h4>
                <span>Te ayudo a mantener una vida sana</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="fa fa-line-chart"></i>
                <h4><span class="counter">{{ site.data.home.kilos }}</span> Kg</h4>
                <span>¿Subiendo de peso? Bajemos esos kilos de más :)</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="fa fa-plane"></i>
                <h4>Desde <span class="counter">{{ site.data.home.minutos }}</span> minutos</h4>
                <span>Plan personalizado a medida</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="fa fa-home"></i>
                <h4><span class="counter">{{ site.data.home.clientes }}</span></h4>
                <span>Clientes a domicilio</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
              <p><i class="fa fa-quote-left" aria-hidden="true"></i> {{site.data.business.name}} es genial, ¡super
                divertido!. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
              <div class="user">
                <img src="img/twitter-user-1.jpg" alt="Personas" style="width: 75px; height: 75px;">
                <p><span>Alba</span> desde Instagram</p>
              </div>
            </div>
            <div>
              <p><i class="fa fa-quote-left" aria-hidden="true"></i> Soy cliente asíduo. Totalmente recomendado.
                <i class="fa fa-quote-right" aria-hidden="true"></i> </p>
              <div class="user">
                <img src="img/twitter-user-2.jpg" alt="Personas" style="width: 75px; height: 75px;">
                <p><span>Jose</span> desde Facebook</p>
              </div>
            </div>
            <div>
              <p><i class="fa fa-quote-left" aria-hidden="true"></i> Me encantan sus clases, Xan es un gran profesor.❤️
                <i class="fa fa-quote-right" aria-hidden="true"></i> </p>
              <div class="user">
                <img src="img/twitter-user-3.jpg" alt="Personas" style="width: 75px; height: 75px;">
                <p><span>Robin</span> desde Twitter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include call-to-action.html %}

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ site.data.home.services-title }}</h2>
        <p>{{ site.data.home.services-subtitle }}</p>
      </div>
    </div>
    <div class="row ">
      {% for item in site.data.services.services %}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fa {{item.icon}}"></i>
          <h4>{{item.title}}</h4>
          <p>{{item.body}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }

  // Counter up
  if ($(".counter").length) {
    $('.counter').counterUp({
      delay: 10,
      time: 1000
    });
  }
</script>