<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>EMPIEZA A PONERTE EN FORMA</h2>
          <p>{{site.data.business.name}} te ayudaré a conseguir tus objectivos, recuperarte de lesiones o mejorar tu
            estado físico para el día a día.</p>
          <a class="btn btn-default btn-call-to-action" href="#">Comenzar</a>
        </div>
      </div>
    </div>
  </div>
</section>